
@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<ul>
    @foreach (var customer in Model.Customers)
    {
        <li>
            <a href="~/Views/">@customer.Name</a>
            
        </li>
    }
</ul>

