
@model Vidly.ViewModels.CustomerListController

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<ul>
    @foreach (var customer in Model.customerList)
    {
        <li>
            <a href="Customer/@customer.Id">@customer.Name</a>
        </li>
    }
</ul>

